<form class="container">
  <h1>Add Equipment</h1>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Serial Number</mat-label>
      <input
        matInput
        [(ngModel)]="addObj.SerialNumber"
        name="serial"
        #serial="ngModel"
        required
      />
      <mat-error *ngIf="serial.invalid && (serial.dirty || serial.touched)">
        <div *ngIf="serial.errors.required">
          &bull; Serial Number is required.
        </div>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Make</mat-label>
      <input
        matInput
        [(ngModel)]="addObj.Make"
        #make="ngModel"
        required
        name="make"
      />
      <mat-error *ngIf="make.invalid && (make.dirty || make.touched)">
        <div *ngIf="make.errors.required">
          &bull; Make is required.
        </div>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Model</mat-label>
      <input
        matInput
        [(ngModel)]="addObj.Model"
        required
        #model="ngModel"
        name="model"
      />
      <mat-error *ngIf="model.invalid && (model.dirty || model.touched)">
        <div *ngIf="model.errors.required">
          &bull; Model is required.
        </div>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Meter Reading</mat-label>
      <input
        matInput
        [(ngModel)]="addObj.MeterReading"
        #meter="ngModel"
        type="number"
        required
        name="meter"
      />
      <mat-error *ngIf="meter.invalid && (meter.dirty || meter.touched)">
        <div *ngIf="meter.errors.required">
          &bull; Meter Reading is required.
        </div>
      </mat-error>
    </mat-form-field>
  </p>

  <div style="margin-bottom: 10px;">
    <button
      mat-raised-button
      color="primary"
      *ngIf="!edit"
      style="margin-right: 15px;"
      (click)="addEquipment()"
    >
      Add
    </button>
    <button
      mat-raised-button
      *ngIf="edit"
      color="primary"
      style="margin-right: 15px;"
      (click)="editEquipment()"
    >
      Edit
    </button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
  </div>
</form>
