/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: 15px/1.5 Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  background-color: #f4f4f4;
}

/*Container Global Class */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* ul Global */
ul {
  margin: 0;
  padding: 0;
}

li {
  float: left;
  display: inline;
}

/* header */
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header #brand {
  float: left;
}
header #brand h1 {
  margin: 0;
}

header .highlight {
  color: #e8491d;
  font-weight: bold;
}

footer {
  padding: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
  bottom: 0;
  height: 40px;
  margin-top: 40px;
  width: 100%;
}
